body{

    background-color:rgb(180, 185, 190)
    }
    
     h1{
    color:rgb(0, 0, 0) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background:rgb(109, 109, 110) ;
    text-align: center;
    }
    
    :
    p{
    color:silver ;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: ;
    background:rgb(99, 99, 100) ;
    #gp football {
        width: 100%;
    }
    
    


    