body{
    background-color:rgb(217, 223, 230)
    }
    
     h1{
    color:rgb(0, 0, 0) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background:rgb(47, 46, 51) ;
    }
    
    :
    p{
    color:silver ;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: ;
    background:rgb(99, 99, 100) ;
    }


    